  <div class="carousel">
    <div class="carousel-item" href="#one!">
      <%=image_tag("takeoffpants.jpg")%></a>
      <div class="center">
        <span class="team-name"><strong>Remove an item of clothing</strong></span><br>
      </div>
    </div>
    <div class="carousel-item" href="#two!">
      <%=image_tag("Take-a-Shot-of.jpg")%>
      <div class="center">
        <span class="team-name"><strong>Take a shot</strong></span><br>
      </div>
    </div>
    <div class="carousel-item" href="#three!">
      <%=image_tag("no-talk.png")%>
      <div class="center">
        <span class="team-name"><strong>No Talking</strong></span><br>
      </div>
    </div>
    <div class="carousel-item" href="#four!">
      <%=image_tag("beer.jpg")%>
      <div class="center">
        <span class="team-name"><strong>Chug a beer</strong></span><br>
      </div>
    </div>
    <div class="carousel-item" href="#five!">
      <%=image_tag("trash.jpg")%>
      <div class="center">
        <span class="team-name"><strong>Take out the trash</strong></span><br>
      </div>
    </div>
    <div class="carousel-item" href="#six!">
      <%=image_tag("sip.jpg")%>
      <div class="center">
        <span class="team-name"><strong>Take a small sip of your drink</strong></span><br>
      </div>
    </div>
    <div class="carousel-item" href="#seven!">
      <%=image_tag("tequila.jpg")%></a>
      <div class="center">
        <span class="team-name"><strong>TEQUILA</strong></span><br>
      </div>
    </div>
    <div class="carousel-item" href="#eight!">
      <%=image_tag("sing.jpg")%></a>
      <div class="center">
        <span class="team-name"><strong>Sing something</strong></span><br>
      </div>
    </div>

  </div>

  <div class="carousel">
  				<div class="carousel-item" href="#one!">
  					<%=image_tag('olivia.png', class:"circle responsive-img")%>
  					<div class="center">
  						<span class="team-name"><strong>Olivia</strong></span><br>
  					</div>
  				</div>
  				<div class="carousel-item" href="#two!">
  					<%=image_tag('derek.jpg', class:"circle responsive-img")%>
  					<div class="center">
  						<span class="team-name"><strong>Derek</strong></span><br>
  					</div>
  				</div>
  				<div class="carousel-item" href="#three!">
  					<%=image_tag('jesusmar.png', class:"circle responsive-img")%>
  					<div class="center">
  						<span class="team-name"><strong>Jesusmar</strong></span><br>
  					</div>
  				</div>
